.todo-list-box{
    width : 340px;
    background-color: #fff;
    box-shadow: 0 20px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -32px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  
  ul{
    margin: 0;
    list-style: none;
    padding:0
  }
  .item-number{
    display: flex;
    align-items: center;
  
    color: #929292;
    padding: 5px 20px;
    border-top: solid 1px #F0F1F1;
  }
  .clear-all{
    color: #929292;
    font-size: 14px;
    
  }